# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Choose Application': 'atom-raygun:choose-application'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Raygun'
      'submenu': [
        { 'label': 'Choose Application', 'command': 'atom-raygun:choose-application' }
      ]
    ]
  }
]
